*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100vw;
    height: 12vh;
    /* background-color: black; */
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-one {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.nav-two__container {
    width: 100%;
    background-color: hsl(229, 31%, 21%, 0.9);
    position: absolute;
    height: 100vh;
    /* display: none; */
    /* z-index: 3; */
    top: -120%;
    transition: all 0.5s ease-in-out;
}

.display-nav {
    top: 0%;
}

.display-navOne {
    opacity: 0;
}

.logo-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    /* height: 12vh; */
}

.nav-two {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    /* justify-content: center;  */
    align-items: center;  
}

.nav-two__links {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.link {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    padding: 20px 0;
}

.button {
    list-style: none;
    width: 100%;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 22px;
}

.nav-two__socials {
    margin-top: 175px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-image {
    width: 100%;
    padding: 0px;
    position: relative;
    z-index: -1;
}

.hero-image img {
    width: 100%;
}

.object {
    width: 80%;
    position: absolute;
    height: 230px;
    background-color: hsl(231, 69%, 60%);
    top: 22%;
    right: 0;
    border-bottom-left-radius: 30%;
    z-index: -2;
}

.hero-info {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto 150px auto;
    gap: 20px;
}

.hero-info__title {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
} 

.hero-info__details {
    text-align: center;
    line-height: 1.6rem;
    color: hsl(229, 8%, 60%);
    margin-bottom: 15px;
}

.hero-button__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-info__btn {
    padding: 12px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn1 {
    background-color: hsl(231, 69%, 60%);
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn1:hover {
    background-color: white;
    color: hsl(231, 69%, 60%);
    cursor: pointer;
    outline: 1px solid hsl(231, 69%, 60%);
}

.btn2 {
    background-color: hsl(229, 8%, 60%, 0.1);
    box-shadow: 0 5px 10px -5px hsl(229, 8%, 60%);
    transition: all 0.3s ease-in-out;
}

.btn2:hover {
    outline: 1px solid hsl(231, 69%, 60%);
    cursor: pointer;
    background-color: white;
    box-shadow: none;
    color: hsl(231, 69%, 60%);
}

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
}

.features-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85%;
    margin: 0 auto 25px auto;
    gap: 15px;
}

.features-overview__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.features-overview__info {
    color: hsl(229, 8%, 60%);
    line-height: 1.6rem;
}

.features-list {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid hsl(229, 8%, 60%, 0.3);
}

.list-feature {
    font-size: 1.1rem;
    font-weight: 400;
    
    width: 100%;
    
    text-align: center;
    
    border-bottom: 1px solid hsl(229, 8%, 60%, 0.3);
}

.list-feature p{
    width: fit-content;
    padding: 20px 0;
    margin: 0 auto;
    transition: color 0.3s ease-in-out;
    /* border-bottom: 4px solid hsl(0, 94%, 66%); */
}

.list-feature p:hover {
    cursor: pointer;
    color: hsl(0, 94%, 66%);
}

.red-border {
    border-bottom: 4px solid hsl(0, 94%, 66%);
}

.features-feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.features-feature__image {
    width: 100%;
    margin: 50px auto;
    position: relative;
    padding: 0 25px;
}

.features-feature__image img {
    width: 100%;
}

.object-two {
    transform: rotateY(180deg);
    left: 0;
    top: 17%;
}

.object-three {
    transform: rotateY(180deg);
    left: 0;
    top: 17%;
    height: 270px;
}

.object-four {
    transform: rotateY(180deg);
    left: 0;
    top: 17%;
    height: 270px;
}

.features-feature__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 85%;
    margin: 40px 0;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.feature-details {
    color: hsl(229, 8%, 60%);
    line-height: 1.6rem;
}

.feature-btn {
    text-align: center;
    width: fit-content;
    background-color: hsl(231, 69%, 60%);
    color: white;
    margin: 20px auto 0 auto;
    padding: 15px 25px;
    border-radius: 5px;
}

.display {
    display: inline-flex;
}

.extensions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.extensions-overview {
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.extensions-overview__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.extensions-overview__info {
    line-height: 1.6rem;
    color: hsl(229, 8%, 60%);
}

.card-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.extensions-card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    /* gap: 15px; */
    /* margin: 20px 0; */
    padding: 50px 0 25px 0;
    border-radius: 20px;
    box-shadow: 0  5px 10px -2px hsl(229, 8%, 60%, 0.3);
    width: 100%;
}

.card-image {
    margin-bottom: 30px;
}

.card-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.card-version {
    color: hsl(229, 8%, 60%);
    margin-bottom: 40px;
}

.dots {
    width: 100%;
    margin-bottom: 25px;
}

.extensions-btn {
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 15px 35px;
    width: 85%;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    /* margin-top: 10px; */
}

.extensions-btn:hover {
    background-color: white;
    color: hsl(231, 69%, 60%);
    outline: 1px solid hsl(231, 69%, 60%);
    cursor: pointer;
}

.faq {
    width: 85%;
    margin: 125px auto 0 auto;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.faq-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.faq-info {
    color: hsl(229, 8%, 60%);
    line-height: 1.6rem;
    text-align: center;
}

.faq-section {
    width: 100%;
    margin-top: 45px;
}

.faq-section__qa {
    border-bottom: 1px solid hsl(229, 8%, 60%, 0.5);
    
    padding: 25px 0 20px 0;
    position: relative;
}

.question-arrow {
    display: flex;
    justify-content: space-between;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.question-arrow:hover {
    cursor: pointer;
    color: hsl(0, 94%, 66%);
}

.qa-question {
    font-weight: 500;
    font-size: 1.1rem;
}

.qa-answer {
    display: none;
    line-height: 2rem;
    margin-top: 30px;
    color: hsl(229, 8%, 60%);
}

.display-answer {
    display: block;
}

.flip-arrow {
    transform: rotateX(180deg);
}

.faq-btn {
    text-align: center;
    width: fit-content;
    background-color: hsl(231, 69%, 60%);
    color: white;
    margin: 55px auto 0 auto;
    padding: 15px 25px;
    border-radius: 5px;
}

.signup-section {
    width: 100%;
    background-color: hsl(231, 69%, 60%);
}

.signup-container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 60px 0;
    color: white;
}

.signup-stats {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.signup-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.signup-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-input input {
    width: 100%;
    font-size: 1rem;
    padding: 15px 0 15px 20px;
    border-radius: 5px;
    border: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
}

.signup-input input:hover {
    outline: 2px solid hsl(0, 94%, 66%);
}

.signup-btn {
    background-color: hsl(0, 94%, 66%);
    border-radius: 5px;
    padding: 15px  0;
    color: white;
    font-size: 1.1rem;
    border: none;
    transition: all 0.3s ease-in-out;
}

.signup-btn:hover {
    background-color: white;
    color: hsl(0, 94%, 66%);
    outline: 2px solid hsl(0, 94%, 66%);
    cursor: pointer;
}

.footer-section {
    width: 100%;
    background-color: hsl(229, 31%, 21%);
    color: white;
    padding: 45px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-links {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 40px;
}

.footer-links p{
    transition: all 0.3s ease-in-out;
}

.footer-links p:hover {
    cursor: pointer;
    color: hsl(0, 94%, 66%);
}

.footer-socials {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media screen and (min-width: 768px){
    .header {
        padding: 0 11%;
    }
    .nav-one {
        width: fit-content;
        margin: 0;
    }
    .nav-one__hamburger {
        display: none
    }

    .nav-two__container {
        position: static;
        background-color: white;
        width: fit-content;
        height: fit-content;
        transition: none;
    }

    .nav-two {
        flex-direction: row;
        width: fit-content;
        margin: 0;
        ;
        /* justify-content: baseline; */
    }

    .logo-close {
        display: none;
        ;
    }

    .nav-two__links {
        flex-direction: row;
        color: black;
        gap: 22px;
        width: fit-content;
    }

    .link {
        border: none;
        padding: 0;
        width: fit-content;
        font-size: 0.7rem;
        transition: all 0.3s ease-in-out;
    }

    .link:hover {
        color: hsl(0, 94%, 66%);
        cursor: pointer;
    }

    .button {
        margin: 0;
        width: fit-content;
        font-size: 0.7rem;
        background-color: hsl(0, 94%, 66%);
        padding: 10px 25px;
        color: white;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .button:hover {
        background-color: white;
        outline: 1px solid hsl(0, 94%, 66%);
        color: hsl(0, 94%, 66%);
    }

    .nav-two__socials {
        display: none;
    }

    .hero {
        flex-direction: row;
        padding: 0 0 0 11%;
       align-items: center;
       gap: 50px;
    }

    .hero-info {
        width: 100%;
       max-width: 500px;
        margin: 0;
        
        order: -1;
        justify-content: center;
        align-items: baseline;
        
    }

    .hero-info__title {
        text-align: left;
        
    }

    .hero-info__details {
        text-align: left;
    }

    .hero-image {
        /* width: 80%; */
    }

    .features {
        margin-top: 50px;
    }

    .features-overview {
        max-width: 500px;
    }

    .features-list {
        max-width: 700px;
        border: none;
        flex-direction: row;
        border-bottom: 1px solid hsl(229, 8%, 60%, 0.3);
    }
    .list-feature {
        width: 33%;
        border: none;
    }
    

    .features-feature__info {
        max-width: 600px;
        text-align: left;
        align-items: flex-start;
        padding-right: 25px;
    }

    .feature-btn {
        text-align: left;
        margin: 0;
    }

    .features-feature {
        flex-direction: row;
    }

    .features-feature__image {
        padding: 0 0 0 25px;
    }

    .features-feature__image img {
        width: 85%;
        
    }

    .object-three {
       
        left: -40px;
        top: 35%;
    }

    .extensions-overview {
        max-width: 500px;
    }

    .card-container {
        max-width: 900px;
        
    }

    .faq-info {
        max-width: 500px;
    }

    .faq-section {
        max-width: 550px;
    }

    .signup-container {
        max-width: 500px;
    }

    
}

@media screen and (min-width: 850px){
    .object-two {
        height: 280px;
    }
}

@media screen and (min-width: 1000px){

    .nav-two__links {
        gap: 35px;
    }
    .hero-info__title {
        font-size: 2.3rem;
    }
    .hero-image img {
        width: 95%;
    }

    .object {
        height: 280px;
    }

    .features-overview__title {
        font-size: 2rem;
    }

    .feature-title {
        font-size: 2rem;
    }

    

    .features-feature__image img {
        width: 75%;
        
    }

    .object-two {
        left: -50px;
    }

    .extensions-overview__title {
        font-size: 2rem;
    }

    .card-container {
        flex-direction: row;
    }

    .extensions-card:nth-of-type(2) {
        margin-top: 75px;
    }

    .extensions-card:nth-of-type(3) {
        margin-top: 150px;
    }

    .faq-title {
        font-size: 2rem;
    }

    .signup-stats {
        margin-bottom: 20px;
    }

    .signup-group {
        flex-direction: row;
        justify-content: center;
    }

    .signup-input {
        width: 70%;
    }

    .signup-btn {
        width: 30%;
    }

    .footer-section {
        padding-left: 11%;
        padding-right: 11%;
    }

    .footer {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .footer-logo {
        margin: 0 50px 0 0;
    }

    .footer-links {
        flex-direction: row;
        font-size: 0.8rem;
        margin: 0;
    }

    .footer-socials {
        margin: 0;
        position: absolute;
        right: 11%;
    }
}

@media screen and (min-width: 1200px){

    .hero-info__title {
        font-size: 2.5rem;
    }
    .object {
        height: 380px;
    }
}